/******************************************************************
Stylesheet: Home Page

Page-specific styles ONLY. If the styles will be used across the site,
use the _base.scss file.
******************************************************************/

/*********************
UNIVERSAL STYLES
*********************/

body{
	background:#000 !important;
	max-height:100vh !important
}

.homepage-tagline{
	font:$h1;
	color:#fff;
	bottom: 0;
	position: absolute;
	margin-left: 5%;
}

.nav-wrapper{
	display:block;
	float:right;
	right:3%;
	position: absolute;
	width:15%;
	top:5%;	
}

#home-nav ul li{
	list-style-type:none;
	padding: 20px 0 20px 0;
}

#home-nav ul li a{
	text-decoration:none;
	font: $a;
	color:#fff;
	opacity:0.5;
	transition: $transition;
	-webkit-transition: $transition;
}

#home-nav ul li a:hover{
	opacity:1;
}

#logo{
	width:80px;
	opacity:0.5;
	margin-bottom:5px;
	-webkit-transform: rotateY(5deg);
    transform: rotateY(5deg);
    transition: $transition;
}

#logo:hover{
	opacity:1;

}


/*********************
RESPONSIVE STYLES
*********************/